:root{
--cor-fundo: rgb(238, 238, 218);
--cor-texto: black;
--cor-principal:rgb(253, 255, 164);
--cor-secundaria:rgb(255, 244, 84);
--cor-hover: rgb(252, 245, 156);
--cor-superficie:white;
--cor-card: rgb(255, 245, 107);
--cor-legenda:rgb(124, 124, 120);
--cor-clara:white;
--cor-rodape: rgb(254, 255, 199);

}
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto)
    font-family Arial,sans-serif;
    margin: 0;
}

header {
    background-color: var(--cor-principal);
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(247, 248, 175);
}

p {
    font-size: 18px;
    line-height: 1.6;
}
nav{
    margin-top: 20;
}
nav a {
    color:white;
    text-decoration: none;
    background-color: rgb(248, 248, 162);
    padding:  10x 15x;
    border-radius:8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover{
    background-color: rgb(242, 255, 128);
}
main {
    width: 80%;
    margin: auto;
}
section{
    background-color: aliceblue;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}
img{
    width:100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}
figcaption{
    text-align: center;
    font-size: 14px;
    color:black;
    margin-top: 8px;

}
.card{
    background-color: #deffa8
    padding 15px;
    margin: 15px 0;
    border-left: 6px;
    border-radius: 10px;
}
.card h3{
     margin-top: 0;
}

footer{
    background-color: rgb(241, 250, 113);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
button {
    background-color: rgb(253, 255, 148);
    color: aliceblue;
    border:none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(219, 252, 72);
}
.curtir {
display: block;
width: fit-conten;
margin: 20px auto;
}