body {
    background-color: rgb(216, 194, 194);
    color: rgb(184, 207, 181);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(26, 235, 165);
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: darkcyan;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
nav{
    margin-top: 20;
}
nav a[
    color: white;
    text-decoration:none;
    
]